{% extends "core/base.html" %}
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock css %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Livros Disponíveis</h1>
  <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i> Meu Carrinho
  </a>
</div>

<!-- Formulário de Filtro por Nome de Livro -->
<form method="GET" action="" class="mb-4">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Buscar livro pelo nome" value="{{ request.GET.q }}">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <div class="owl-carousel">
      {% for book in books %}
      <div class="card mb-4 h-100">
        <img src="https://covers.openlibrary.org/b/id/{{ book.cover_id }}-L.jpg" class="card-img-top" alt="{{ book.title }}">
        <div class="card-body h-100">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <form method="POST" action="">
            {% csrf_token %}
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>
      {% empty %}
      <p>Nenhum livro disponível.</p>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Pagination Controls -->
<div class="pagination">
  <span class="step-links">
    {% if books.has_previous %}
      <a href="?page=1">&laquo; primeiro</a>
      <a href="?page={{ books.previous_page_number }}">anterior</a>
    {% endif %}

    <span class="current">
      Página {{ books.number }} de {{ books.paginator.num_pages }}
    </span>

    {% if books.has_next %}
      <a href="?page={{ books.next_page_number }}">próximo</a>
      <a href="?page={{ books.paginator.num_pages }}">último &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/vue.js' %}"></script>

<script>
  var app = new Vue({
    delimiters: ["${", "}"],
    el: "#app",
    mounted() {
      $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
          items: 5,
          margin: 10
        });
      });
    },
  });
</script>
{% endblock js %}
